
<h1>Redes Sociales más usadas</h1>
<hr>

<div class="alert alert-info"
        *ngIf="doughnutChartData.datasets.length == 0; else divGrafica">
    Cargando Data...
</div>

<div class="row">
    <div class="col">
        <ng-template #divGrafica>

            <div style="display: block">
                <canvas baseChart
                  [data]="doughnutChartData"
                  [type]="doughnutChartType">
                </canvas>
              </div>

              <span class="float-end text-primary">
                Información en millones de usuarios
              </span>
        </ng-template>
    </div>
</div>